<footer class="page-footer <%= customColor1 %> darken-2">
    <div class="container">
        <div class="row">
            <div class="col l6 m4 s12">
                <h5 class="white-text">关于 cStats</h5>
                <p class="grey-text text-lighten-4">用 ❤ 制作</p>
            </div>
            <div class="col l3 m4 s12">
                <h5 class="white-text">快捷链接</h5>
                <ul>
                    <li><a class="white-text" href="/getting-started">开始使用</a></li>
                    <br class="hide-on-med-and-up">
                    <% if (loggedIn) { %>
                    <li><a class="white-text" href="/add-plugin">添加插件</a></li>
                    <% } else { %>
                    <li><a class="white-text" href="/login">登录</a></li>
                    <br class="hide-on-med-and-up">
                    <li><a class="white-text" href="/register">注册</a></li>
                    <% } %>
                    <br class="hide-on-med-and-up">
                    <li><a class="white-text" href="/faq">FAQ</a></li>
                    <br class="hide-on-med-and-up">
                    <li><a class="white-text" href="#colorPickerModal">换颜色</a></li>
                </ul>
            </div>
            <div class="col l3 m4 s12">
                <h5 class="white-text">友情链接</h5>
                <ul>
                    <li><a class="white-text" href="https://www.mcbbs.net/">MCBBS</a></li>
                    <li><a class="white-text" href="https://dl.zhanshi123.me/">Minecraft插件下载站</a></li>
                    <li><a class="white-text" href="https://www.iroselle.com/aff.php?aff=36">洛神云</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made with <a class="<%= customColor1 %>-text text-lighten-3" href="http://materializecss.com">Materialize</a> | <script type="text/javascript" src="https://s4.cnzz.com/z_stat.php?id=1278628929&web_id=1278628929"></script>
        </div>
    </div>
</footer>

<!-- Color picker modal -->
<div id="colorPickerModal" class="modal">
    <div class="modal-content">
        <div class="<%= customColor1 %>-text" style="text-align: center;"><h4><u><b>选择一个颜色</b></u></h4></div>
        <div class="row">
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable red" onclick="setColor('red');">红</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable teal" onclick="setColor('teal');">蓝绿</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable blue" onclick="setColor('blue');">蓝</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable pink" onclick="setColor('pink');">❤ 粉 ❤</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable brown" onclick="setColor('brown');">棕</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable green" onclick="setColor('green');">绿</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable black" onclick="setColor('black');">黑</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable purple" onclick="setColor('purple');">紫♂</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable deep-purple" onclick="setColor('deep-purple');">深紫</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable indigo" onclick="setColor('indigo');">靛蓝</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable light-blue" onclick="setColor('light-blue');">亮蓝</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable cyan" onclick="setColor('cyan');">青</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable light-green" onclick="setColor('light-green');">亮绿</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable lime" onclick="setColor('lime');">黄绿</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable yellow" onclick="setColor('yellow');">黄</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable amber" onclick="setColor('amber');">黄褐</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable orange" onclick="setColor('orange');">橙</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable deep-orange" onclick="setColor('deep-orange');">深橙</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable grey" onclick="setColor('grey');">灰</div></div>
            <div class="col s12 m6 l4 xl3"><div class="card-panel coloredBox truncate hoverable blue-grey" onclick="setColor('blue-grey');">蓝灰</div></div>
        </div>
    </div>
</div>


<script type="application/javascript">
    function setCookie(name, value, exdays) {
        var date = new Date();
        date.setTime(date.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ date.toUTCString();
        document.cookie = name + "=" + value + ";" + expires + ";path=/";
    }
    function randomizeColor() {
        var colors = [
            'red', 'teal', 'blue', 'pink', 'brown', 'green', 'black', 'purple', 'deep-purple', 'indigo', 'light-blue',
            'cyan', 'light-green', 'lime', 'yellow', 'amber', 'orange', 'deep-orange', 'grey', 'blue-grey'
        ];
        setCookie('custom-color1', colors[Math.floor(Math.random()*colors.length)], 365);
        location.reload();
    }
    function setColor(color) {
        setCookie('custom-color1', color, 365);
        location.reload();
    }
</script>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?5a670985656c6f9e256597972a32d378";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
