<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="The FAQ page.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>cStats - 常见问题解答</title>

    <!-- CSS  -->
    <link href="/css/icon.css" rel="stylesheet">
    <link href="/stylesheets/materialize.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>
<body>

<% include ../templates/navigation.ejs %>
<main>
    <br>
    <div class="container">
        <!--General-->
        <ul class="collection with-header">
            <li class="collection-header"><h4>一般</h4></li>
            <li class="collection-item">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">问答</i>cStats会永远免费吗?</div>
                        <div class="collapsible-body"><span>没有向你收取任何费用的计划. <b>也许</b> 将来会有一些高级功能，但是有一个
                                cStats的赞助商 (<a href="https://www.iroselle.com/aff.php?aff=36">洛神云</a>) 我现在不需要任何资金来运营这个网站。</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">问答</i>为什么没有“通用”的范畴?</div>
                        <div class="collapsible-body"><span>一个“通用”的类别会弄乱许多图表，使全局统计完全无用。
                            例如:Bukkit和Bungeecord的玩家数量将被计算两次。相信我，你不会想要这个的。 ;-)</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">问答</i>是否有访问数据的API ?</div>
                        <div class="collapsible-body"><span>是的，cStats有一个API。你可以找到它 <a href="/help/rest-api">在这里</a></span></div>
                    </li>
                </ul>
            </li>
        </ul>

        <!--Account-->
        <ul class="collection with-header">
            <li class="collection-header"><h4>账户</h4></li>
            <li class="collection-item">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">问答</i>怎么才能修改我的密码?</div>
                        <div class="collapsible-body"><span>目前还不支持。如果你确实需要更改密码。
                                （例如，别人知道你的密码，或者你的当前密码类似于“password”）请联系我.</span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">问答</i>我忘记了我的密码!</div>
                        <div class="collapsible-body"><span>没有自助重置密码的选项。请联系我，我可以重置您的密码。</span></div>
                    </li>
                </ul>
            </li>
        </ul>

        <!--Metrics class-->
        <ul class="collection with-header">
            <li class="collection-header"><h4>指标类</h4></li>
            <li class="collection-item">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">问答</i>如何添加插件到我的cStats?</div>
                        <div class="collapsible-body"><span><a href="/getting-started/include-metrics">点击这里</a></span></div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">问答</i>我在哪里报告bug或建议特性？</div>
                        <div class="collapsible-body"><span>你可以在GitHub上报告bug或建议功能。网站相关的东西应该报告
                                <a href="https://github.com/Bastian/cStats/issues"> 这里</a> 应该报告与插件相关的东西
								(Metrics类)
								<a href="https://github.com/Bastian/cStats-Metrics/issues"> 这里</a>.</span></div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</main>
<% include ../templates/footer.ejs %>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize/materialize.min.js"></script>
<script src="/javascripts/materialize/init.js"></script>

<% include ../templates/globalScripts.ejs %>

</body>
</html>
