<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Twitter stuff -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@btobastian" />
    <meta name="twitter:title" content="cStats - Minecraft插件统计数据" />
    <meta name="twitter:description" content="cStats 为插件作者收集统计数据，简单易用" />
    <meta name="twitter:image" content="https://bstats.org/images/Twitter.jpg" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="cStats 为插件作者收集统计数据，简单易用">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>cStats</title>

    <!-- CSS  -->
    <link href="https://static.zhanshi123.me/cstats/css/icon.css" rel="stylesheet">
    <link href="/stylesheets/materialize.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<% include ../templates/navigation.ejs %>
<main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center <%= customColor1 %>-text">cStats</h1>
            <div class="row center">
                <h5 class="header col s12 light">用 ❤ 制作的MineCraft插件数据统计站点</h5>
            </div>
            <div class="row center">
                <a href="/getting-started" id="download-button" class="btn-large waves-effect waves-light <%= customColor1 %>">开始使用</a>
            </div>
            <br><br>
        </div>
    </div>


    <div class="container">
        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="icon-block">
                    <h2 class="center red-text"><i class="material-icons">assessment</i></h2>
                    <h5 class="center">数据统计</h5>

                    <p class="light">cStats 让你从各种各样的服务端收集用户统计数据</p>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="icon-block">
                    <h2 class="center red-text"><i class="material-icons">storage</i></h2>
                    <h5 class="center">洛神云驱动</h5>

                    <p class="light">本站由<a href="https://www.iroselle.com/aff.php?aff=36">洛神云</a>驱动，欢迎访问我们的网站</p>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="icon-block">
                    <h2 class="center red-text"><i class="material-icons">schedule</i></h2>
                    <h5 class="center">高度集成</h5>

                    <p class="light">cStats 非常容易使用，你只需要添加一个额外的class到你的插件中</p>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="icon-block">
                    <h2 class="center red-text"><i class="material-icons">trending_up</i></h2>
                    <h5 class="center">快如闪电</h5>

                    <p class="light">cStats 为了性能和稳定性做过优化，非常稳定、迅速。</p>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="icon-block">
                    <h2 class="center red-text"><i class="material-icons">code</i></h2>
                    <h5 class="center">开源</h5>

                    <p class="light">cStats 完全开源，欢迎查看<a href="https://github.com/Soldier233/bStats">GitHub</a></p>
                </div>
            </div>

            <div class="col s12 m6 l4">
                <div class="icon-block">
                    <h2 class="center"><img alt="Discord" src="/images/discord.svg"></h2>
                    <h5 class="center">加入我们的交流群</h5>

                    <p class="light">
                        欢迎有事没事都来群里唠嗑 <a href="https://jq.qq.com/?_wv=1027&k=5jtMtjF">点我加群</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</main>
<% include ../templates/footer.ejs %>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize/materialize.min.js"></script>
<script src="/javascripts/materialize/init.js"></script>

<% include ../templates/globalScripts.ejs %>

</body>
</html>
