<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="The REST documentation of bStats">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>cStats - API文档</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <style>
        .withBox {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>


    <script type="application/javascript">
        function output(inp) {
            document.write(inp);
        }

        function syntaxHighlight(json) {
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }
    </script>
</head>
<body>

<% include ../templates/navigation.ejs %>
<main>
    <div class="container">
        <br>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h3 class="center <%= customColor1 %>-text">API</h3>
                    The REST-Api of bStats is very simple. It's meant to allow you
                    to include data of your plugin on your website, plugin presentation, etc.
                    It is not meant to create new accounts, add plugins, add charts, ...
                    That's the reason it's only allowing GET-Requests.

                    <blockquote>
                        <pre><b>在</b> /api/v1/plugins</pre>
                    </blockquote>
                    返回一个包含所有插件的数组:
                    <pre class="z-depth-1 withBox"><script type="application/javascript">output(syntaxHighlight(JSON.stringify([
                                {"id":1337,"name":"ExamplePlugin","owner":{"id":42,"name":"ExampleUser"},"software":
                                        {"id":1,"name":"Bukkit / Spigot","url":"bukkit"},"isGlobal":false},{}
                            ], undefined, 2)));</script></pre>

                    <blockquote>
                        <pre><b>在</b> /api/v1/plugins/%pluginId%/</pre>
                    </blockquote>
                    使用给定的id返回关于插件的详细信息:
                    <pre class="z-depth-1 withBox"><script type="application/javascript">
                            output(syntaxHighlight(JSON.stringify({
                                "id":1337,"name":"ExamplePlugin","owner":{"id":42,"name":"ExampleUser"},
                                "charts":{"%chartId%":{"uid":1234,"type":"single_linechart","position":0,
                                        "title":"Example Linechart","isDefault":true,"data":{"lineName":"Line name",
                                            "filter":{"enabled":false,"maxValue":1,"minValue":1}}},"%anOtherChartId%":{}}}, undefined, 2)));
                        </script></pre>

                    <blockquote>
                        <pre><b>在</b> /api/v1/plugins/%pluginId%/charts</pre>
                    </blockquote>
                    返回给定插件的图表:
                    <pre class="z-depth-1 withBox"><script type="application/javascript">
                            output(syntaxHighlight(JSON.stringify({"%chartId%":{"uid":1234,"type":"single_linechart","position":0,
                                    "title":"Example Linechart","isDefault":true,"data":{"lineName":"Line name",
                                        "filter":{"enabled":false,"maxValue":1,"minValue":1}}}, "%anOtherChartId%": {}}, undefined, 2)));
                        </script></pre>

                    <blockquote>
                        <pre><b>在</b> /api/v1/plugins/%pluginId%/charts/%chartId%</pre>
                    </blockquote>
                    返回关于单个图表的信息:
                    <pre class="z-depth-1 withBox"><script type="application/javascript">
                            output(syntaxHighlight(JSON.stringify({"uid":1234,"type":"single_linechart","position":0,
                                "title":"Example Linechart","isDefault":true,"data":{"lineName":"Line name",
                                    "filter":{"enabled":false,"maxValue":1,"minValue":1}}}, undefined, 2)));
                        </script></pre>

                    <blockquote>
                        <pre><b>在</b> /api/v1/plugins/%pluginId%/charts/%chartId%/data</pre>
                    </blockquote>
                    返回图表的数据。数据的格式取决于图表的类型。
                    这是一个单线图表的响应示例。第一个数字是时间戳，第二个是值。
                    <pre class="z-depth-1 withBox"><script type="application/javascript">
                            output(syntaxHighlight(JSON.stringify([
                                [1479799800000,122],[1479801600000,121],[1479803400000,124],[1479805200000,134]
                            ], undefined, 2)));
                        </script></pre>

                    <blockquote>
                        <pre><b>在</b> /api/v1/plugins/%pluginId%/charts/%chartId%/data/?maxElements=%amount%</pre>
                    </blockquote>
                    maxElements是LineCharts的一个可选参数。它限制返回元素的数量。如果留空，默认为1个月 (2*24*30).

                    <blockquote>
                        <pre><b>在</b> /api/v1/software</pre>
                    </blockquote>
                    返回一个包含所有支持的服务器软件的数组:
                    <pre class="z-depth-1 withBox"><script type="application/javascript">
                            output(syntaxHighlight(JSON.stringify([
                                {"id":1,"name":"Bukkit / Spigot","url":"bukkit","globalPlugin":{"id":1,"name":"_bukkit_"}},{}
                            ], undefined, 2)));
                        </script></pre>
                </div>
            </div>
        </div>

    </div>
</main>
<% include ../templates/footer.ejs %>
<!-- Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize/materialize.min.js"></script>
<script src="/javascripts/materialize/init.js"></script>

<% include ../templates/globalScripts.ejs %>

</body>
</html>
